/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

*{
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
	text-align: center;
	font-size: 14px;
	color: silver;
}

.paticka a {
	color: silver;
}

/* -------------------------------------------------- */

/*
Responzivní breakpointy:
Mobil:		0 - 479px
Tablet:		480px - 859px
Počítač:	860px a víc

Chrome a některé další prohlížeče nejdou zmenšit pod určitou šířku, takže je možné, že ti nepůjde zmenšit tolik, 
aby se aktivovala mobilní verze. Pokud se ti to stane, změň si v kódu hranici mezi mobilem a tabletem třeba 
na 600px, nebo aktivuj v prohlížeči vývojářské nástroje s mobilním náhledem, kde může nastavovat jakoukoliv velikost (i malou).

Obrázky pro jednotlivé recepty jsou ve složce images.
Nastav je receptům jako obrázky na pozadí (tj. nepřidávej je jako <img> do HTML)

Na rozložení prvků NEPOUŽÍVEJ absolutní pozicování, ale pouze flexboxy.
Flexboxy mohou být vnořené do sebe, klidně několikrát.
*/

/* ----- MOBILE FIRST ----- */
@font-face {
	font-family: Raleway;
	src: url(fonts/Raleway-VariableFont_wght.ttf);
}

.hlavni,
.recept{
	background-size: cover;
	color: white;
	background-position: center;
	margin-bottom: 2px;
}

h1,h2{
	font-family: 'Raleway', sans-serif;
	padding: 10px;
	font-weight: 800;
}

h1{
	font-size: 28px;
}

h2{
	font-size: 18px;
}

p{
	font-size: 14px;
	font-weight: 400;
}

.hlavni{
	background-image: url(images/salat.jpg);
	min-height: 200px;
	display: grid;
}
.nadpis{
	display: flex;
	align-items: flex-end;
}

.recept{
	min-height: 90px;
	display: grid;
}

.jedna{
	background-image: url(images/chlebicek.jpg);
}

.dva{
	background-image: url(images/tacos.jpg);

}

.tri{
	background-image: url(images/cizrna.jpg);
}

.ctyri{
	background-image: url(images/burger.jpg);
}

.koment{
	display: flex;
	justify-content: space-between;
	padding: 10px;
	font-size: 14px;
	font-weight: 400;
}

/* ----- TABLET ----- */
@media screen and (min-width: 480px){
	h1,h2,.koment{
	padding: 20px;
	}
	.hlavni{
	min-height: 250px;
	}
	.recept{
	min-height: 150px;
	}
	h1{
	font-size: 36px;
	}
	h2{
	font-size: 22px;
	}
	.recepty{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	}
	.recept{
	flex: 0 0 calc((100% - 2px)/ 2);
	}
}

/* ----- PC ----- */
@media screen and (min-width: 860px){
	.hlavni{
	min-height: 400px;
	margin-right: 2px;
	}
	.recept{
	min-height: 200px;
	}
	h1{
	font-size: 48px;
	}
	h2{
	font-size: 28px;
	}
	.kontejner{
	display: flex;
	flex-wrap: nowrap;
	}
}